@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --rich_black: #04091c;
  --lapis_lazuli: #1c5d99;
  --light_green: #9ee37d;
  --light_red: #c1666B;
  --cool_gray: #a7adc6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
